@if (vistaHeader) {
<app-header></app-header>
}
<app-navbar></app-navbar>
<div
  class="container-fluid position-absolute bottom-0 pb-5 ContenedorBotoneraYDetalle"
>
  <!-- Este componente es el que muestra unicamente los turnos -->
  <app-categoria-detalle></app-categoria-detalle>

  <div class="container float-start m-0 p-0 Botonera">
    <a class="nav-link mt-2" routerLink="/salon">
      <button
        type="button"
        title="Recargar pagina actual"
        class="btn btn-warning"
      >
        Ver Salon
      </button>
    </a>
  </div>

  <div class="container Botonera">
    <div
      class="turno d-flex flex-row align-items-center justify-content-between"
    >
      <div class="d-block">
        <p>Nombre: {{ turno?.nombre }}</p>
        <p>Categoria: {{ turno?.categoria }}</p>
        <p>Estado: {{ turno?.estado }}</p>
      </div>
      <div class="d-flex flex-row justify-content-end me-4">
        <!-- Boton Finalizar "Estado: 'Atendido'" -->
        <button
          title="Turno Atendido"
          type="button"
          class="btn btn-light border round me-3 p-1 fs-5 d-flex flex-column"
          (click)="finalizarTurno()"
        >
          <span class="mx-auto">✅</span>
          <span> Atendido </span>
        </button>
        <!-- Boton Atender "Estado: 'Atendiendo'" -->
        <button
          title="Atender turno"
          type="button"
          class="btn btn-light border round me-3 p-1 fs-5 d-flex flex-column"
          (click)="atenderTurno()"
        >
          <span class="mx-auto">🛎</span>
          <span> Atender </span>
        </button>
        <!-- Boton Cancelar "Estado: 'Cancelado'"-->
        <button
          title="Cancelar turno"
          type="button"
          class="btn btn-light border round me-3 p-1 fs-5 d-flex flex-column"
          (click)="cancelarTurno()"
        >
          <span class="mx-auto">❌</span>
          <span> Cancelar </span>
        </button>
        <!-- Botton En Espera "Estado: 'en Espera" -->
         <!-- Boton Cancelar "Estado: 'Cancelado'"-->
        <button
          title="Cancelar turno"
          type="button"
          class="btn btn-light border round p-1 fs-5 d-flex flex-column"
          (click)="enEsperaTurno()"
        >
          <span class="mx-auto">😴</span>
          <span> En Espera </span>
        </button>
      </div>
    </div>
  </div>
</div>
