<div class="container">
  <!-- Muestra cada turno del arreglo-->
  @if(turnosFiltrados.length > 0){
  <table class="table">
    <tbody>
      <tr class="text-center">
        @for(turno of turnosFiltrados; track trackById){
        @if (turno) {
        <th
          [ngClass]="{
            'estado-pendiente': turno.estado === 'en espera',
            'estado-confirmado': turno.estado === 'Atendiendo',
            'estado-cancelado': turno.estado === 'Cancelado',
            'estado-finalizado': turno.estado === 'Atendido'
          }"
          (click)="verTurnoDetalle(turno._id)"
        >
          {{ turno.numero }}
        </th>
        }
      }
      </tr>
    </tbody>
  </table>
  }
</div>
