@import 'ngx-toastr/toastr';

.estado-pendiente {
  background-color: #fafa91;
}

/*atendiendo*/
.estado-confirmado {
  background-color: #82fa82;
}

/*cancelado*/
.estado-cancelado {
  background-color: #fa8282;
  display: none;
}

/*atendido*/
.estado-finalizado{
  background-color: #8d8df5;
  display: none;
}


tr{
    cursor: pointer;
    border: 1px solid lightgray;
}
th{
    font-size: 4em;
    padding: 0px 20px;    
}

th:hover{
    background-color: #6c757d5c;
}

tbody{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}