<div class="container">
  @if(turnosFiltrados.length > 0){
  <table class="table table-hover">
    <tbody>
      @for(turno of turnosFiltrados; track trackById){
      <tr class="text-center">
        <th
          (click)="handleOpenModal(turno._id)"
          [ngClass]="{
            'estado-pendiente': turno.estado === 'en espera',
            'estado-confirmado': turno.estado === 'Atendiendo',
            'estado-cancelado': turno.estado === 'Cancelado',
            'estado-finalizado': turno.estado === 'Atendido'
          }"
        >
          {{ turno.numero }}
        </th>
      </tr>
      }
    </tbody>
  </table>
  }
</div>

@if(modalIsOpen){
<app-turno-modal [turno]="turnoSeleccionado" (cerrarModal)="handleCloseModal()">
</app-turno-modal>
}
