<div class="container my-4">
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['categoria', 'Perros']" [ngClass]="{active: menuOpcion == 'Perros'}"
              (click)="onOption('Perros')">Perros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['categoria', 'Gatos']" [ngClass]="{active: menuOpcion == 'Gatos'}"
              (click)="onOption('Gatos')">Gatos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['categoria', 'Exoticos']" [ngClass]="{active: menuOpcion == 'Anim. Exoticos'}"
              (click)="onOption('Anim. Exoticos')">Anim. Exóticos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['categoria', 'Vacunacion']" [ngClass]="{active: menuOpcion == 'Vacunatorio'}"
              (click)="onOption('Vacunatorio')">Vacunatorio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['categoria', 'Compras']" [ngClass]="{active: menuOpcion == 'Compras'}"
              (click)="onOption('Compras')">Compras</a>
            </li>
        </ul>
    </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>