<div class="container my-4">
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['categoria', 'Perros']">Perros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['categoria', 'Gatos']">Gatos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['categoria', 'Exoticos']">Anim. Exóticos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['categoria', 'Vacunacion']">Vacunatorio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['categoria', 'Compras']">Compras</a>
            </li>
        </ul>
    </nav>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>