@if (vistaHeader) {
<app-header></app-header>
}

<div class="container-fluid text-center">
  <div class="container pt-5">
    <h1>Turnos del dia</h1>
  </div>

  <div
    class="container-fluid pt-5 d-flex flex-row justify-content-center text-wrap"
  >
    <div class="categoria border border-black border-top-0 border-bottom-0">
      <h2>Perros</h2>
      @for (turno of turnos; track trackById) { @if (turno.categoria ===
      'Perros') {
      <div class="turno">
        <button
          type="button"
          class="btn btn-light mb-2"
            [ngClass]="{
               'estado-pendiente': turno.estado === 'en espera',
                'estado-confirmado': turno.estado === 'Atendiendo',
                'estado-cancelado': turno.estado === 'Cancelado',
                'estado-finalizado': turno.estado === 'Atendido'
              }"
          (click)="verTurnoDetalle(turno._id)"
        >
          {{ turno.numero }}
        </button>
      </div>
      } }
    </div>

    <div class="categoria">
      <h2>Gatos</h2>
      @for (turno of turnos; track trackById) { @if (turno.categoria ===
      'Gatos') {
      <div class="turno">
        <button
          type="button"
          class="btn btn-light mb-2 mb-2"
            [ngClass]="{
              'estado-pendiente': turno.estado === 'en espera',
                'estado-confirmado': turno.estado === 'Atendiendo',
                'estado-cancelado': turno.estado === 'Cancelado',
                'estado-finalizado': turno.estado === 'Atendido'
              }"
          (click)="verTurnoDetalle(turno._id)"
        >
          {{ turno.numero }}
        </button>
      </div>
      }}
    </div>

    <div class="categoria border border-black border-top-0 border-bottom-0">
      <h2>Anim. Exóticos</h2>
      @for (turno of turnos; track trackById) { @if (turno.categoria ===
      'Exoticos') {
      <div class="turno">
        <button
          type="button"
          class="btn btn-light mb-2"
            [ngClass]="{
              'estado-pendiente': turno.estado === 'en espera',
                'estado-confirmado': turno.estado === 'Atendiendo',
                'estado-cancelado': turno.estado === 'Cancelado',
                'estado-finalizado': turno.estado === 'Atendido'
              }"
          (click)="verTurnoDetalle(turno._id)"
        >
          {{ turno.numero }}
        </button>
      </div>
      }}
    </div>

    <div class="categoria">
      <h2>Vacunacion</h2>
      @for (turno of turnos; track trackById) { @if (turno.categoria ===
      'Vacunacion') {
      <div class="turno">
        <button
          type="button"
          class="btn btn-light mb-2"
            [ngClass]="{
           'estado-pendiente': turno.estado === 'en espera',
                'estado-confirmado': turno.estado === 'Atendiendo',
                'estado-cancelado': turno.estado === 'Cancelado',
                'estado-finalizado': turno.estado === 'Atendido'
              }"
          (click)="verTurnoDetalle(turno._id)"
        >
          {{ turno.numero }}
        </button>
      </div>
      }}
    </div>

    <div class="categoria border border-black border-top-0 border-bottom-0">
      <h2>Compras</h2>
      @for (turno of turnos; track trackById) { @if (turno.categoria ===
      'Compras') {
      <div class="turno">
        <button
          type="button"
          class="btn btn-light mb-2"
            [ngClass]="{
               'estado-pendiente': turno.estado === 'en espera',
                'estado-confirmado': turno.estado === 'Atendiendo',
                'estado-cancelado': turno.estado === 'Cancelado',
                'estado-finalizado': turno.estado === 'Atendido'
              }"
          (click)="verTurnoDetalle(turno._id)"
        >
          {{ turno.numero }}
        </button>
      </div>
      }}
    </div>
  </div>
</div>

<div class="container Botonera">
  <div
    class="turno d-flex flex-row-reverse align-items-center justify-content-end"
  >
    <div class="d-block TurnoDetalle">
      <p>
        Nombre: <span class="ps-4">{{ turno?.nombre }}</span>
      </p>

      <p>
        Categoria: <span class="ps-4">{{ turno?.categoria }}</span>
      </p>

      <p>
        Estado: <span class="ps-4">{{ turno?.estado }}</span>
      </p>
    </div>
  </div>
</div>
